<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--property表示的是get\set方法中的字段，column表示的是数据库中的字段-->
<!--根据开发者id查询App信息-->
<mapper namespace="net.wanho.mapper.AppInfoMapper">

    <resultMap id="base" type="net.wanho.model.AppInfo">
        <id property="id" column="appId"></id>
        <result property="softwareName" column="software_Name"/>
        <result property="apkName" column="APK_Name"/>
        <result property="softwareSize" column="software_Size"/>
        <result property="flatformId" column="flatform_Id"/>
        <result property="status" column="status"/>
        <result property="downloads" column="downloads"/>
    </resultMap>
    
    <resultMap id="appSingleDetail" type="net.wanho.model.AppInfo" extends="base">
        <result property="appInfo" column="app_Info"/>
        <result property="creationDate" column="creation_Date"/>
        <result property="interfaceLanguage" column="interface_Language"/>
        <result property="logoLocPath" column="logo_Loc_Path"/>
        <result property="logoPicPath" column="logo_Pic_Path"/>
        <result property="offSaleDate" column="off_Sale_Date"/>
        <result property="onSaleDate" column="on_Sale_Date"/>
        <result property="softwareName" column="software_Name"/>
        <result property="supportROM" column="support_ROM"/>
        <result property="updateDate" column="update_Date"/>
        <!--分类信息的封装-->
        <association property="categoryLevel1" javaType="net.wanho.model.AppCategory">
            <id property="id" column="level1Id"/>
            <result property="categoryName" column="categoryLevel1Name"/>
        </association>
        <association property="categoryLevel2" javaType="net.wanho.model.AppCategory">
            <id property="id" column="level2Id"/>
            <result property="categoryName" column="categoryLevel2Name"/>
        </association>
        <association property="categoryLevel3" javaType="net.wanho.model.AppCategory">
            <id property="id" column="level3Id"/>
            <result property="categoryName" column="categoryLevel3Name"/>
        </association>
        <!--状态信息的封装-->
        <association property="appStatus" javaType="net.wanho.model.DataDictionary">
            <id property="id" column="statusId"/>
            <!--<result property="valueId" column="statusId"/>-->
            <result property="valueName" column="statusName"/>
        </association>
        <!--封装平台信息-->
        <association property="flatform" javaType="net.wanho.model.DataDictionary">
            <result property="valueId" column="flatformId"/>
            <result property="valueName" column="flatformName"/>
        </association>
        <!--最新版本信息封装-->
        <association property="newAppVersion" javaType="net.wanho.model.AppVersion">
            <id property="id" column="versionId"/>
            <result property="versionNo" column="version_No"/>
        </association>
        <!--创建者信息的封装-->
        <association property="createUser" javaType="net.wanho.model.DevUser">
            <id property="id" column="createId"/>
            <result property="devName" column="createName"/>
        </association>
        <!--开发者信息的封装-->
        <association property="devUser" javaType="net.wanho.model.DevUser">
            <id property="id" column="devId"/>
            <result property="devName" column="devName"/>
        </association>
        <!--修改者信息的封装-->
        <association property="modifyUser" javaType="net.wanho.model.DevUser">
            <id property="id" column="modifyId"/>
            <result property="devName" column="modifyName"/>
        </association>

    </resultMap>
    
    <resultMap id="appDetailWithHistoryVersion" type="net.wanho.model.AppInfo" extends="appSingleDetail">
        <!--历史版本信息-->
        <collection property="appVersions" ofType="net.wanho.model.AppVersion">
            <id property="id" column="historyVersionId"/>
            <result property="versionNo" column="historyVersionNo"/>
            <result property="apkFilename" column="historyApkFileName"/>
            <result property="apklocPath" column="historyApkLocPath"/>
            <result property="downloadLink" column="historyDownloadLink"/>
            <result property="versionSize" column="historyVersionSize"/>
            <result property="versionInfo" column="historyVersionInfo"/>
        </collection>
    </resultMap>


    <resultMap id="appInfoDetail" type="net.wanho.model.AppInfo" extends="base">
        <!--封装平台信息-->
        <association property="flatform" javaType="net.wanho.model.DataDictionary">
            <result property="valueName" column="flatform_name"/>
        </association>
        <!--封装状态信息-->
        <association property="appStatus" javaType="net.wanho.model.DataDictionary">
            <result property="valueName" column="app_status"/>
        </association>
        <!--封装一级分类-->
        <association property="categoryLevel1" javaType="net.wanho.model.AppCategory">
            <result property="categoryName" column="categoryLevel1Name"/>
        </association>
        <!--封装二级分类-->
        <association property="categoryLevel2" javaType="net.wanho.model.AppCategory">
            <result property="categoryName" column="categoryLevel2Name"/>
        </association>
        <!--封装三级分类-->
        <association property="categoryLevel3" javaType="net.wanho.model.AppCategory">
            <result property="categoryName" column="categoryLevel3Name"/>
        </association>
        <!--封装版本信息-->
        <association property="newAppVersion" javaType="net.wanho.model.AppVersion">
            <id property="id" column="version_id"/>
            <result property="versionNo" column="version_No"/>
        </association>
    </resultMap>

    <!--<resultMap id="appInfoWithThreeCategoryAndVersion" type="net.wanho.model.AppInfo" extends="base">
        &lt;!&ndash;封装了最新的app版本对象&ndash;&gt;
        <association property="newAppVersion" javaType="net.wanho.model.AppVersion">
            <id property="id" column="versionId"/>
            <result column="version_No" property="versionNo"/>
        </association>
        <association property="categoryLevel1" javaType="net.wanho.model.AppCategory">
            <result column="categoryLevel1Name" property="categoryName"/>
        </association>
        <association property="categoryLevel2" javaType="net.wanho.model.AppCategory">
            <result column="categoryLevel2Name" property="categoryName"/>
        </association>
        <association property="categoryLevel3" javaType="net.wanho.model.AppCategory">
            <result column="categoryLevel3Name" property="categoryName"/>
        </association>
    </resultMap>-->

    <!--<select id="queryByDevUserId" resultMap="appInfoWithThreeCategoryAndVersion">
    SELECT
    t1.id appId,
    t1.software_Name,
    t1.APK_Name,
    t1.software_Size,
    t1.flatform_Id,
    t1.`status`,
    t1.downloads,
    t1.version_Id,
    tc1.category_Name as categoryLevel1Name,
    tc2.category_Name as categoryLevel2Name,
    tc3.category_Name as categoryLevel3Name,
    t3.version_No

    FROM app_info t1
    LEFT JOIN app_category tc1 on t1.category_Level1 = tc1.id
    LEFT JOIN app_category tc2 on t1.category_Level2 = tc2.id
    LEFT JOIN app_category tc3 on t1.category_Level3 = tc3.id
    LEFT JOIN app_version t3 on t1.version_Id = t3.id
    ,dev_user t4
    where t1.dev_Id = t4.id
    and t4.id = #{devUserId}
    </select>-->

    <!--根据搜索条件查询-->
    <select id="query" resultMap="appInfoDetail">

        SELECT
        t1.id appId,
        t1.software_Name,
        t1.APK_Name,
        t1.software_Size,
        t1.downloads,
        t1.flatform_Id,
        t1.status,
        t1.version_id,
        t2.value_Name AS appFlatform,
        t6.value_Name AS appStatus,
        t3.category_Name AS categoryLevel1Name,
        t4.category_Name AS categoryLevel2Name,
        t5.category_Name AS categoryLevel3Name,
        t7.version_No,
        t2.value_Name AS appFlatform,
        t2.value_Name AS appStatus
        FROM app_Info t1
        LEFT JOIN data_dictionary t2 ON t1.flatform_Id = t2.value_Id
        LEFT JOIN app_category t3 ON t1.category_Level1 = t3.id
        LEFT JOIN app_category t4 ON t1.category_Level2 = t4.id
        LEFT JOIN app_category t5 ON t1.category_Level3 = t5.id
        LEFT JOIN data_dictionary t6 ON t1.`status` = t6.value_Id
        LEFT JOIN app_version t7 ON t1.version_Id = t7.id
        LEFT JOIN dev_user t8 ON t1.dev_id = t8.id

        <where>
            t2.type_Code = 'APP_FLATFORM'
            AND t6.type_Code = 'APP_STATUS'

            <if test="appFlatform != null">
                AND t1.flatform_Id = #{appFlatform}
            </if>
            <if test="appStatus != null">
                AND t1.`status` = #{appStatus}
            </if>
            <if test="levelOneId != null">
                AND t1.category_Level1 = #{levelOneId}
            </if>
            <if test="levelTwoId != null">
                AND t1.category_Level2 = #{levelTwoId}
            </if>
            <if test="levelThreeId != null">
                AND t1.category_Level3 = #{levelThreeId}
            </if>
            <if test="softwareName != null and softwareName != ''">
                AND t1.software_Name LIKE concat('%',#{softwareName},'%')
            </if>
        </where>
    </select>

    <insert id="add">
        insert into app_info
        <trim prefix="(" suffix=")" prefixOverrides=",">
        <if test="softwareName !=null and softwareName!=''">
            ,software_Name
        </if>
        <if test="apkName !=null and apkName!=''">
            ,APK_Name
        </if>
        <if test="supportROM !=null and supportROM!=''">
            ,support_ROM
        </if>
        <if test="interfaceLanguage !=null and interfaceLanguage!=''">
            ,interface_Language
        </if>
        <if test="softwareSize !=null">
            ,software_Size
        </if>
        <if test="updateDate !=null">
            ,update_Date
        </if>
        <if test="devUser !=null and devUser.id != null">
            ,dev_Id
        </if>
        <if test="appInfo !=null and appInfo != ''">
            ,app_Info
        </if>
        <if test="appStatus !=null and appStatus.valueId !=null">
            ,status
        </if>
        <if test="onSaleDate !=null">
            ,on_Sale_Date
        </if>
        <if test="flatform !=null and flatform.valueId !=null">
            ,flatform_Id
        </if>
        <if test="categoryLevel1 !=null and categoryLevel1.id !=null">
            ,category_Level1
        </if>
        <if test="categoryLevel2 !=null and categoryLevel2.id !=null">
            ,category_Level2
        </if>
        <if test="categoryLevel3 !=null and categoryLevel3.id !=null">
            ,category_Level3
        </if>
        <if test="downloads !=null">
            ,downloads
        </if>
        <if test="createdBy !=null">
            ,created_By
        </if>
        <if test="modifyBy !=null">
            ,modify_By
        </if>
        <if test="modifyDate !=null">
            ,modify_Date
        </if>
        <if test="logoPicPath !=null">
            ,logo_Pic_Path
        </if>
        <if test="logoLocPath !=null">
            ,logo_Loc_Path
        </if>
        <if test="newAppVersion !=null and newAppVersion.id != null">
            ,version_Id
        </if>
    </trim>

    <trim prefix="values(" suffix=")" prefixOverrides=",">
        <if test="softwareName !=null and softwareName!=''">
            ,#{softwareName}
        </if>
        <if test="apkName !=null and apkName!=''">
            ,#{apkName}
        </if>
        <if test="supportROM !=null and supportROM!=''">
            ,#{supportROM}
        </if>
        <if test="interfaceLanguage !=null and interfaceLanguage!=''">
            ,#{interfaceLanguage}
        </if>
        <if test="softwareSize !=null">
            ,#{softwareSize}
        </if>
        <if test="updateDate !=null">
            ,#{updateDate}
        </if>
        <if test="devUser !=null and devUser.id != null">
            ,#{devUser.id}
        </if>
        <if test="appInfo !=null and appInfo != ''">
            ,#{appInfo}
        </if>
        <if test="appStatus !=null and appStatus.valueId !=null">
            ,#{appStatus.valueId}
        </if>
        <if test="onSaleDate !=null">
            ,#{onSaleDate}
        </if>
        <if test="flatform !=null and flatform.valueId !=null">
            ,#{flatform.valueId}
        </if>
        <if test="categoryLevel1 !=null and categoryLevel1.id !=null">
            ,#{categoryLevel1.id}
        </if>
        <if test="categoryLevel2 !=null and categoryLevel2.id !=null">
            ,#{categoryLevel2.id}
        </if>
        <if test="categoryLevel3 !=null and categoryLevel3.id !=null">
            ,#{categoryLevel3.id}
        </if>
        <if test="downloads !=null">
            ,#{downloads}
        </if>
        <if test="createdBy !=null">
            ,#{createdBy}
        </if>
        <if test="modifyBy !=null">
            ,#{modifyBy}
        </if>
        <if test="modifyDate !=null">
            ,#{modifyDate}
        </if>
        <if test="logoPicPath !=null">
            ,#{logoPicPath}
        </if>
        <if test="logoLocPath !=null">
            ,#{logoLocPath}
        </if>
        <if test="newAppVersion !=null and newAppVersion.id != null">
            ,#{newAppVersion.id}
        </if>
    </trim>

    </insert>


    <update id="updateById">
        update app_info

        <trim prefixOverrides="," prefix="set ">
            <if test="softwareName != null and softwareName != ''">
                ,software_Name = #{softwareName}
            </if>
            <if test="apkName != null and apkName != ''">
                ,APK_Name = #{apkName}
            </if>
            <if test="supportROM != null and supportROM != ''">
                ,support_ROM = #{supportROM}
            </if>
            <if test="interfaceLanguage != null and interfaceLanguage != ''">
                ,interface_Language = #{interfaceLanguage}
            </if>
            <if test="softwareSize != null">
                ,software_Size = #{softwareSize}
            </if>
            <if test="updateDate != null">
                ,update_Date = #{updateDate}
            </if>
            <if test="devUser != null and devUser.id != null">
                ,dev_Id = #{devUser.id}
            </if>
            <if test="appInfo != null and appInfo != ''">
                ,app_Info = #{appInfo}
            </if>
            <if test="appStatus != null and appStatus.id != null">
                ,status = #{appStatus.id}
            </if>
            <if test="onSaleDate != null ">
                ,on_Sale_Date = #{onSaleDate}
            </if>
            <if test="offSaleDate != null ">
                ,off_Sale_Date = #{offSaleDate}
            </if>
            <if test="flatform != null and flatform.valueId != ''">
                ,flatform_Id = #{flatform.valueId}
            </if>
            <if test="categoryLevel1 != null and categoryLevel1.id != ''">
                ,category_Level1 = #{categoryLevel1.id}
            </if>
            <if test="categoryLevel2 != null and categoryLevel2.id != ''">
                ,category_Level2 = #{categoryLevel2.id}
            </if>
            <if test="categoryLevel3 != null and categoryLevel3.id != ''">
                ,category_Level3 = #{categoryLevel3.id}
            </if>
            <if test="downloads != null">
                ,downloads = #{downloads}
            </if>
            <if test="createUser != null and createUser.id != null">
                ,created_By = #{createUser.id}
            </if>
            <if test="modifyUser != null and modifyUser.id != null">
                ,modify_By = #{modifyUser.id}
            </if>
            <if test="modifyDate != null">
                ,modify_Date = #{modifyDate}
            </if>
            <if test="logoPicPath != null and logoPicPath !=''">
                ,logo_Pic_Path = #{logoPicPath}
            </if>
            <if test="logoLocPath != null and logoLocPath !=''">
                ,logo_Loc_Path = #{logoLocPath}
            </if>
            <if test="newAppVersion != null and newAppVersion.id !=null">
                ,version_Id = #{newAppVersion.id}
            </if>
            <if test="id != null">
                ,id = #{id}
            </if>
        </trim>

        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>

    </update>

    <delete id="deleteById">
        delete from app_info where id = #{id}
    </delete>

    <select id="queryById" resultMap="appSingleDetail">
    select
     t1.id as appId,t1.app_Info,t1.APK_Name,t1.creation_Date,t1.downloads,t1.interface_Language,t1.logo_Loc_Path,
     t1.logo_Pic_Path,t1.off_Sale_Date,t1.on_Sale_Date,t1.software_Name,t1.software_Size,t1.support_ROM,t1.update_Date,
     c1.id level1Id,c2.id level2Id,c3.id level3Id,
     c1.category_Name categoryLevel1Name,c2.category_Name categoryLevel2Name,c3.category_Name categoryLevel3Name,
     d1.id statusId,d1.value_Name statusName,
     d2.value_Id flatformId,d2.value_Name flatformName,
     v1.id versionId,v1.version_No,
     u1.id createId,u1.dev_name createName,
     u2.id modifyId,u2.dev_name modifyName,
     u3.id devId,u3.dev_name devName

    from app_info t1  left join app_category c1 on t1.category_Level1 = c1.id
    left join app_category c2 on t1.category_Level2 = c2.id
    left join app_category c3 on t1.category_Level3 = c3.id
    left join data_dictionary d1 on t1.status = d1.value_Id
    left join data_dictionary d2 on t1.flatform_Id = d2.value_Id
    left join app_version v1 on t1.version_Id = v1.version_No
    left join dev_user u1 on t1.created_By = u1.id
    left join dev_user u2 on t1.modify_By = u2.id
    left join dev_user u3 on t1.dev_Id = u3.id
    where
    d1.type_Code = 'APP_STATUS'
    and t1.id = #{id}
    
    </select>

    <select id="queryDetailById" resultMap="appDetailWithHistoryVersion">
    select
     t1.id as appId,t1.app_Info,t1.APK_Name,t1.creation_Date,t1.downloads,t1.interface_Language,t1.logo_Loc_Path,
     t1.logo_Pic_Path,t1.off_Sale_Date,t1.on_Sale_Date,t1.software_Name,t1.software_Size,t1.support_ROM,t1.update_Date,
     c1.id level1Id,c2.id level2Id,c3.id level3Id,
     c1.category_Name categoryLevel1Name,c2.category_Name categoryLevel2Name,c3.category_Name categoryLevel3Name,
     d1.id statusId,d1.value_Name statusName,
     d2.value_Id flatformId,d2.value_Name flatformName,
     v1.id versionId,v1.version_No,
     u1.id createId,u1.dev_name createName,
     u2.id modifyId,u2.dev_name modifyName,
     u3.id devId,u3.dev_name devName,
     v2.id historyVersionId,v2.version_No historyVersionNo,v2.apk_Filename historyApkFileName,v2.apkLoc_Path historyApkLocPath,
     v2.download_Link historyDownloadLink,v2.version_Size historyVersionSize,v2.version_Info historyVersionInfo

    from app_info t1  left join app_category c1 on t1.category_Level1 = c1.id
    left join app_category c2 on t1.category_Level2 = c2.id
    left join app_category c3 on t1.category_Level3 = c3.id
    left join data_dictionary d1 on t1.status = d1.value_Id
    left join data_dictionary d2 on t1.flatform_Id = d2.value_Id
    left join app_version v1 on t1.version_Id = v1.version_No
    left join dev_user u1 on t1.created_By = u1.id
    left join dev_user u2 on t1.modify_By = u2.id
    left join dev_user u3 on t1.dev_Id = u3.id
    left join app_version v2 on t1.id = v2.app_Id
    where
    d1.type_Code = 'APP_STATUS'
    and t1.id = #{id}

    </select>

</mapper>